<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <input type="text" [(ngModel)]="artistName" name="artistName">&nbsp;<button (click)="getAlbums()">Chercher les albums</button><hr>
  <div class="row">
    <div class="col-6" style="text-align: center;">
      <h1 class="title">Albums de {{artistName}}</h1>
      <br><br>
      <span *ngIf="!artistExiste">Artiste introuvable, veuillez reessayez</span>
      <div class="row">
        <div class="col-4" *ngFor="let album of albums" (click)="getChansons(album)">
        {{ album.name }} <br> <img src="{{album.image}}" alt="{{album.name}}">
      </div>
      </div>
      
      
    </div>
    <div class="col-6">
      <h1>chansons de l'album {{albumName}}</h1>  <br><br>
      <ul>
        <li *ngFor="let chanson of chansons">
          {{chanson}}
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
